.git
.gitignore

**/README.md
**/LICENSE

**/node_modules
**/npm-debug.log
**/yarn-error.log

**/coverage
**/.nyc_output

**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/dist

**/DynamoDBLocal
**/.tern-port
**/storage

**/.tmp
**/.cache
**/.parcel-cache



**/obj
**/out
**/.vs
.dotnet
.Microsoft.DotNet.ImageBuilder